################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Sprint0/FileContentIndex/017c29a3-7265-405b-814f-f90f8bfea9be.vsidx
/.vs/Sprint0/FileContentIndex
