################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CSE3902-G3Repo-2025/FileContentIndex
/.vs/Sprint0/FileContentIndex/14f46d30-72b5-4635-8eb4-0cfe95035d9f.vsidx
/.vs/Sprint0/FileContentIndex
